<option value="food" name="food">food</option>
<option value="gym" name="gym">gym</option>
<option value="shopping_mall" name="shopping_mall">shopping_mall</option>
<option value="park" name="park">park</option>
